* {
    margin: 0;
    padding: 0;
}

body {
    background: #ae4dc2;
}

.container {
    max-width: 400px;
}

input[type=text],
input[type=text]:focus {
    color: #fff;
    border: none;
    background: rgba(0, 0, 0, 0.13);
    max-width: 400px;
}

input[type=text]::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

.todos li {
    background: rgba(255, 255, 255, 0.1);
}

.delete {
    cursor: pointer;
}

.hide {
    display: none !important;
}