* {
    margin: 0;
    padding: 0;
}

body {
    background: #c878a8;
}

.container {
    max-width: 400px;
}

input[type=text],
input[type=text]:focus {
    color: #fff;
    border: none;
    background: rgba(0, 0, 0, 0.2);
    max-width: 400px;
}

input[type=text]::placeholder {
    color: #fff;
}

.todos li {
    background: #d885b4;
}

.delete {
    cursor: pointer;
}